<div id="alligncentertextcenter">
	<div id= "splashfont">
	<p> Beach </p>
	
	<p> 
	Easily create and subscribe to live streams that consist of youtube content	
	</p>
	
	<p>Version 0.2</p>
	</div>

<%= link_to 'Browse Streams', streams_path %>

</div>