html, body {
    padding: 0;
    margin: 0;

}

*:focus {
    outline: 0;
}

.header {
	height : 50px;
	border-bottom: 1.5px solid #E5E5E5;
	width: 100%;
	
}
.form-inline div { display: inline-block }

.controlbar div { 
	display: block;
	white-space: nowrap;
	
}

.textarea {
    background-color: white;
    border:1px solid #E5E5E5;
	font-family: 'Lato', sans-serif; font-weight: 400;
	font-size:15px;
	color:grey;
	
}

.search {
                padding:8px 15px;
                background-color: white;
                border:1px solid #E5E5E5;
			    width: 530px;
				height: 40px;
				font-family: 'Lato', sans-serif; font-weight: 900;
				font-size:25px;
				color:grey;
				
			
}
.fieldbutton {
                position:relative;
                padding:0px 15px 0px 15px;
                left:-8px;
                border:19px solid #83B4DB;
                background-color:#83B4DB;
				height: 58px;
                color:white;
				font-family: 'Lato', sans-serif; font-weight: 400;
				font-size:20px;
				
				
}

.header td {
	white-space: nowrap;
}

.headcontrolls table tr td {
	display: block;
	margin:auto;
	text-align: center;
	position:absolute;     

}

.headcontrolls a {
	text-decoration: none;
	font-family: 'Lato', sans-serif; font-weight: 400;
	color:#9C9C9C;
	text-align:left; 
    vertical-align:middle;
	
	  -o-transition:color .2s ease-out, background 2s ease-in;
	  -ms-transition:color .2s ease-out, background 2s ease-in;
	  -moz-transition:color .2s ease-out, background 2s ease-in;
	  -webkit-transition:color .2s ease-out, background 2s ease-in;
	  transition:color .2s ease-out, background 2s ease-in;	
}

.headcontrolls a:hover { 
	text-decoration: none;
	color: black; 
	}

.header table {
	width: 100%;
	border-collapse: collapse;
	table-layout:fixed;
}

.fader img {
	opacity: .7;
    transition: opacity .7s ease-out;
    -moz-transition: opacity .7s ease-out;
    -webkit-transition: opacity .7s ease-out;
    -o-transition: opacity .7s ease-out;
}

.edittitles h1 {
	font-family: 'Lato', sans-serif; font-weight: 900;
	font-size:25px;
}

.fader img:hover {
	opacity: 1;
}

.logo img {
	float: left;
	vertical-align:middle;
}




.splashfont h1 {
		font-family: 'Lato', sans-serif; font-weight: 900;
		font-size:25px;
		color: #73A7CA;
	}

ul.hmenu {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;  
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}

#centerplayer{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding-top: 5px;
}


#scrollbox{
	width:800px;
	height:400px;
	overflow-y:scroll;
	overflow-x:hidden;	
}

#viddisplaytable, td{
	padding:5px;
}

.vidcontrolls {
	margin-left:auto;
	margin-right:auto;
	width: 1067px;
}

.vidcontrolls h1 {
	font-family: 'Lato', sans-serif; font-weight: 900;
	font-size:25px;
}

.vidcontrolls h3 {
	font-family: 'Lato', sans-serif; font-weight: 700;
	font-size:15px;
}

.vidcontrolls table {
    border-collapse: collapse;
	table-layout:fixed;
}


#alligncentertextleft {
	margin-left:auto;
	margin-right:auto;
	text-align: left;
	width: 50%;
}

.subscribebar {
	
	background-color:#83B4DB;
	border:0px solid #ffffff;
	text-align:center;
	font-size:15px;

}

.subscribebar table {  
    border-collapse: collapse;
}


.subscribebar a {
	text-decoration: none;
	color: white;	
	font-family: 'Lato', sans-serif; font-weight: 700;
	font-size:16px;	
}

.subscribebar td:hover {
	border-collapse: collapse;
	background-color: #FAF7BA;	
}

.subscribebar table tr td:hover a{
	color:#83B4DB;
}


#subscribecount{
	font-family: verdana, arial, helvetica, sans-serif;
  	font-size: 20px;
	text-align: right;	
}

#textright {
	margin-left:auto;
	margin-right:auto;
	float:right;
}

#alligncentertextcenter {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	width: 50%;
	
}

#centerimage {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #666666;

}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#h2error {
   text-align: left;
   font-weight: bold;
   padding: 5px 5px 5px 15px;
   font-size: 12px;
   margin: -7px;
   margin-bottom: 0px;
   background-color: #c00;
   color: #fff;
 }


#error_explanation {
  width: 600px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
 
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.subscribebutton {
	background-color: white;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color: #333333;
	font-family: 'Lato', sans-serif; font-weight: 700;	font-size:17px;
	height:60px;
	line-height:45px;
	width:170px;
	text-decoration:none;
	text-align:center;
}

.subscribebutton:hover {
	background-color:#83b4db;
	
}

.subscribebutton:active {
	position:relative;
	top:1px;
}

