<h1>Videos</h1>

<div id="scrollbox">
<div id="viddisplaytable">
	
<table style="width:670px">

<% @stream.videos.each do |video| %>

<tr>
<td>
<%= link_to video.name, video.url, :target => :blank %>
</td>
<td>

<script type="text/javascript">
	//Display in Minutes:Seconds format
	var seconds = <%= video.length %>;
	
	if ( (seconds % 60) < 10 ){
	document.write( Math.floor(	seconds / 60) + ":0" + (seconds % 60) );
	} else {
	document.write( Math.floor(	seconds / 60) + ":" + (seconds % 60) );	
	}
</script>
</td>

<td>
<% if current_user.id = @addkey %>
<%= link_to image_tag("cross.svg"), [video.stream, video],	method: :delete %>
<% end %>
</td>

</tr>

<% end %>

</table>

</div>
</div>




