<div id="centerplayer">
<div id="player"></div>
<script>

    var starttime = gon.starttime; 
	var currentvideoplaying;		

  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('player', {
      height: '480',
      width: '853',
	playerVars:{
			autoplay: 1,
			controls: 0,
			rel: 0,
			iv_load_policy: 3,
			loop: 1,
			showinfo: 0
		},

     loadPlaylist:{
        listType:'playlist'
     },
		
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }
  

  function onPlayerReady(event) {

 	if (starttime < gon.videolengths[0]){
	//The time is less than the length of the first video. Play first at the time.
	event.target.loadPlaylist(gon.videoids,0,starttime);
		
	} else {
		
	if (starttime > gon.totalfootage){
		while (starttime > gon.totalfootage){
				starttime -= gon.totalfootage;
			}//end while
		}//end if	
		
	var runningtotal = 0;
	
	for (var i = 0; i < gon.videoids.length ; i++){
		runningtotal += gon.videolengths[i];
		
		if (runningtotal >= starttime){
			var total = 0;
			
			for (var k = 0; k < i ; k++){
			total += gon.videolengths[k];	
			}
			
			var indextime = starttime - total;
			
			event.target.loadPlaylist(gon.videoids,i,indextime);
			break;
		}//end if 
	   }//end for
	 }//end else
}//end onplayerready

  function onPlayerStateChange(event) {
	//event.target.webkitRequestFullScreen()
	
	if (event.data == YT.PlayerState.PLAYING) {
        var url = event.target.getVideoUrl();
        // "http://www.youtube.com/watch?v=gzDS-Kfd5XQ&feature=..."
        var match = url.match(/[?&]v=([^&]+)/);
        // ["?v=gzDS-Kfd5XQ", "gzDS-Kfd5XQ"]
        currentvideoplaying = match[1];
		//This is the current playing videoID
    }
	
	if(currentvideoplaying == gon.videoids.slice(-1)[0]) {
  	//Loop the playlist by reloading the whole playlist at the beginning
 	if (event.data == YT.PlayerState.ENDED) {
		event.target.loadPlaylist(gon.videoids,0,0);
        
		}
    }
  }

  function stopVideo() {
    player.stopVideo();
  }

</script>

</div>

