<div id="centerplayer">
<div id="player"></div>
<script>
  var is_playing = false;
  var fullscreen = false;
	
  var currentvideoplaying;		

  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('player', {
      height: '600',
      width: '1067',
	playerVars:{
			autoplay: 1,
			controls: 0,
			rel: 0,
			iv_load_policy: 3,
			loop: 1,
			showinfo: 0
		},

     loadPlaylist:{
        listType:'playlist'
     },
		
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange,
		'onError': onErrorDetect
      }
    });
  }
  
  function onErrorDetect(event){
	if (event.data == 100) {
	//video request was not found, error occurs when video has been removed or has been marked as private
	event.target.nextVideo();	
	} else{
	location.reload();
	}
	
}

  function onPlayerReady(event) {

	event.target.setPlaybackQuality('default');
	event.target.loadPlaylist(gon.playlist,gon.s_index,gon.s_time);
	
	//PLAYER CONTROLS
	  var playButton = document.getElementById("play-button");
	  var that = this;
	  playButton.addEventListener("click", function(click_event) {
	    if (that.is_playing) {
			$("#play-button").attr("src", "http://behdasht.co/wp/imgs/right.gif");
	        player.pauseVideo();    
	    }else {
	        $("#play-button").attr("src", "http://behdasht.co/wp/imgs/left.gif");
			player.playVideo();
	    }
	  });
	
	  var muteButton = document.getElementById("mute-button");
	  muteButton.addEventListener("click", function() {
		if(player.isMuted()){
			player.unMute();
		}else{
	    	player.mute();
		}
	  });
	
	  var enlargeButton = document.getElementById("enlarge-button");
	  enlargeButton.addEventListener("click", function() {
		if (fullscreen){
			player.setSize(1067,600);
			fullscreen = false;			
		}else{
			player.setSize(1410,793);
			fullscreen = true;
		}
	  });
	
	  var liveButton = document.getElementById("live-button");
	  liveButton.addEventListener("click", function() {	
		location.reload();			
	  });

	}

  function onPlayerStateChange(event) {
	
	
	if (event.data == YT.PlayerState.BUFFERING) {
	    event.target.setPlaybackQuality('hd1080');
	}
	
	if (event.data == YT.PlayerState.PAUSED) {
		$("#play-button").attr("src", "http://behdasht.co/wp/imgs/left.gif");
		this.is_playing = false;
	}
	
	if (event.data == YT.PlayerState.PLAYING) {
		$("#play-button").attr("src", "http://behdasht.co/wp/imgs/right.gif");
		this.is_playing = true;
        var url = event.target.getVideoUrl();
        var match = url.match(/[?&]v=([^&]+)/);
        currentvideoplaying = match[1];
    }
	
	if(currentvideoplaying == gon.playlist.slice(-1)[0]) {
 	if (event.data == YT.PlayerState.ENDED) {
		event.target.loadPlaylist(gon.playlist,0,0);
        
		}
    }
  }

  function stopVideo() {
    player.stopVideo();
  }


</script>

</div>
<div id="alligncentertextcenter">
	<br>
<img src="http://behdasht.co/wp/imgs/left.gif" id="play-button" />  &nbsp <a id="mute-button">Mute</a> &nbsp <a id="enlarge-button">Widescreen</a> &nbsp <a id="live-button">Go to Live</a>
</div>

 <%= image_tag("sound.svg") %>   <%= image_tag("mute.svg") %>





