<div id="centerplayer">
<div id="player"></div>
<script>
  var is_playing = false;
	
  var currentvideoplaying;		

  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('player', {
      height: '601',
      width: '1069',
	playerVars:{
			autoplay: 1,
			controls: 0,
			rel: 0,
			iv_load_policy: 3,
			loop: 1,
			showinfo: 0
		},

     loadPlaylist:{
        listType:'playlist'
     },
		
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange,
		'onError': onErrorDetect
      }
    });
  }
  
  function onErrorDetect(event){
	if (event.data == 100) {
	//video request was not found, error occurs when video has been removed or has been marked as private
	event.target.nextVideo();	
	} else{
	location.reload();
	}
	
}

  function onPlayerReady(event) {

	event.target.setPlaybackQuality('hd1080');
	event.target.loadPlaylist(gon.playlist,gon.s_index,gon.s_time);
	
	var playButton = document.getElementById("play-button");
	  var that = this;
	  playButton.addEventListener("click", function(click_event) {
	    if (that.is_playing) {
	        player.pauseVideo();    
	    }else {
	        player.playVideo();
	    }
	  });
	
	  var muteButton = document.getElementById("mute-button");
	  muteButton.addEventListener("click", function() {
	    player.mute();
	  });
	
	  var enlargeButton = document.getElementById("enlarge-button");
	  enlargeButton.addEventListener("click", function() {
	    player.setSize(1407,790);
	  });

	}

  function onPlayerStateChange(event) {
	
	
	if (event.data == YT.PlayerState.BUFFERING) {
	    event.target.setPlaybackQuality('hd1080');
	}
	
	if (event.data == YT.PlayerState.PAUSED) {
		this.is_playing = false;
	}
	
	if (event.data == YT.PlayerState.PLAYING) {
		this.is_playing = true;
        var url = event.target.getVideoUrl();
        var match = url.match(/[?&]v=([^&]+)/);
        currentvideoplaying = match[1];
    }
	
	if(currentvideoplaying == gon.playlist.slice(-1)[0]) {
 	if (event.data == YT.PlayerState.ENDED) {
		event.target.loadPlaylist(gon.playlist,0,0);
        
		}
    }
  }

  function stopVideo() {
    player.stopVideo();
  }

</script>

</div>
<div id="alligncentertextcenter">
	<br>
<a id="play-button">Play / Pause</a>  |  	<a id="mute-button">Mute</a>  |  	<a id="enlarge-button">Widescreen</a>
</div>




