<div id="alligncentertextcenter">
	<br>
	<% if user_signed_in? %>
	<h1>New stream</h1>
	<br>

	<%= render 'form' %>
	
	
	<% else %>
	
	<p> You must sign in to create a new stream </p>
	<br>
	<br>
	
	
	<% end %>

	<br>
	<%= link_to "Back", :back, "data-no-turbolink" => true %>
	

</div>

