<div id="alligncentertextcenter">
	<br>
	<% if user_signed_in? %>
	<h1>Create Stream</h1>
	<br>
	<%= image_tag("newinstructions.png", :alt => "New Instructions") %>


	<%= render 'form' %>
	
	
	<% else %>
	
	<p> You must sign in to create a new stream </p>
	<br>
	<br>
	
	
	<% end %>
	

</div>

