<% if user_signed_in? %>
<% if current_user.id = @addkey %>

<h1>Playlists</h1>
Removing a playlist removes all of its associated videos 
<br>
<br>
<table>
  <tbody>
    <% @stream.playlists.each do |playlist| %>
      <tr>
		<td><%= link_to playlist.title, playlist.url, :target => :blank %></td>
		<td><%= link_to 'Remove', [playlist.stream, playlist],	method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% end %>
<% end %>